
@keyframes ani-name {
    from {width: 50px;}        

    /* 50% {width: 150px;} */

    to {width: 400px;}
}

.block1 {
    width: 50px;
    height: 400px;
    background-color: chartreuse;
    border: 0px solid blue;
    /* border-radius: 50%; */
    /* transition-property: width;
    transition-duration: 4s;
    transition-timing-function: ease;
    transition-delay: 2s; */

    /* transition: tp td ttf td; */
    /* transition:
        height 2s ease-in-out 1s,
        width 2s ease-in-out 1s,
        background 2s ease-in-out 1s,
        border 2s ease-in-out 1s,
        border-radius 2s ease-in-out 1s; */
}

.block1:hover {
    /* width: 200px;
    height: 200px;
    background: rgb(255, 255, 255);    
    border: 30px solid blue;
    border-radius: 50%; */
    /* transform: matrix(0.3, -1, -2, 2, 2, 3);
    transform: translate(50px, 50px);
    transform: scale(5, 5);*/
    /* transition: transform 5s ease; */
    /* transform: rotate(45deg); */
    /* transform: skew(8deg, 30deg); */
    /* transform-origin: 30% 10%;  */
    
    animation: ani-name 2s infinite linear;
    animation-timing-function: ;
    animation-name: ani-name;  
    animation-duration: 2s;  
    animation-iteration-count: 4;
    animation-direction: alternate;
    animation-play-state: running;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

}
