.form__input {
    width: 300px;
    border: 1px solid chartreuse;
    border-radius: 5%;
    background: rgba(185, 255, 55, 0.774);
    padding: 10px;
    margin-top: 20px;
    box-shadow: 10px -10px 20px 5px rgb(79, 158, 0);
}

input, textarea {
    margin: 10px auto;
    border-radius: 5px;
    outline: none;
    background: rgb(156, 255, 255);
}

input:focus {
    color: #000000;
    background: rgba(43, 255, 0, 0.521);
  }

.invalid{

}